*{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	opacity: 0.5;
}